<div class="row row-below">
    <div class="col-md-4">
        <h4>Pretable</h4>
        <pre>Alocha</pre>
    </div>
    <div class="col-md-4">
        <div ng-controller="ButtonsCtrl">
            <h4>Single toggle</h4>
            <pre>{{singleModel}}</pre>
            <button type="button" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                Single Toggle
            </button>
            <h4>Checkbox</h4>
            <pre>Model: {{checkModel}}</pre>
            <pre>Results: {{checkResults}}</pre>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="checkModel.left" uib-btn-checkbox>Left</label>
                <label class="btn btn-primary" ng-model="checkModel.middle" uib-btn-checkbox>Middle</label>
                <label class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox>Right</label>
            </div>
            <h4>Radio &amp; Uncheckable Radio</h4>
            <pre>{{radioModel || 'null'}}</pre>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Left'">Left</label>
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'">Middle</label>
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Right'">Right</label>
            </div>
            <div class="btn-group">
                <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Left'" uncheckable>Left</label>
                <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Middle'" uncheckable>Middle</label>
                <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Right'" uib-uncheckable="uncheckable">Right</label>
            </div>
            <div>
                <button class="btn btn-default" ng-click="uncheckable = !uncheckable">
                    Toggle uncheckable
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <a ui-sref="todos">Todos</a>
        <h1>Hello from About</h1>
        <div ng-controller="DropdownCtrl">
            <!-- Single button -->
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                Button dropdown <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="#">Action</a></li>
                    <li role="menuitem"><a href="#">Another action</a></li>
                    <li role="menuitem"><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Separated link</a></li>
                </ul>
            </div>
         </div>
     </div>
 </div>
